@using PortfolioBizObjects
@model  bizDevSection

@{
    ViewBag.Title = "DevSection";
    string linkclass = "selectedlink";
}

<style>
    .selectedlink {
        font-style: oblique;
        font-weight:bolder;   
    }
</style>
<div class="row bg-danger p-2">
        <p class="text-xl-center text-dark font-weight-bold">@Model.DevSectionBlurb</p>
</div>


<div class="row d-flex justify-content-center">
        <div class="navbar navbar-expand-sm">
            <ul class="navbar-nav ">
                @foreach (bizDevSubSection s in Model.DevSubSections)
                {
                    <li class="nav-item">
                        <a class="nav-link sublink font-weight-bold @linkclass"  id="a@(s.DevSubSectionCode)" subcode="@s.DevSubSectionCode " href="#"><h5>@s.DevSubSectionDesc</h5></a>
                    </li>
                    linkclass = "";
                }
                @*@if (Model.DevTechUsed != "")
                {
                 
                        <h6 class="bg-primary text-danger text-center"> This Page Uses: @Model.DevTechUsed </h6>
                }*@
            </ul>
        </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div id="subblurb" class="bg-secondary border-0 border-dark text-center">
                    @if (Model.DevSubSections.Count > 0)
                    {
                        @Model.DevSubSections[0].DevSubSectionBlurb 
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div id="dvsubsection" class="col-md-12">

            </div>
        </div>
@foreach (bizDevSubSection s in Model.DevSubSections)
{
    <input type="hidden" id="blurb@(s.DevSubSectionCode)" value="@s.DevSubSectionBlurb" />
}
<script>
    $(document).ready(function () {
        SetupForStart()
        $(".sublink").click(function () {
            SetupSubSection(this)
       })
    })

    function SetupForStart() {
        @if (Model.DevSubSections.Count > 0)
        {
            <text>SetupSubSection($(a@(Model.DevSubSections[0].DevSubSectionCode)))</text>
        }
    }

    function SetupSubSection(e) {
            $(".sublink").removeClass("selectedlink")
            $(e).addClass("selectedlink")
            var subcode = $(e).attr("subcode")
            var blurb = $("#blurb" + subcode).val()
            $("#subblurb").text(blurb)

            var subsection = { id: subcode }

            $.ajax({
                url: "/Home/DevSubSection",
                data: subsection,
                success: function(data){$("#dvsubsection").html(data)}
            })
    }
</script>